<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <getExperienceEditorRibbon>
        <processor processor="[@type='Sitecore.ExperienceEditor.Speak.Ribbon.Pipelines.GetExperienceEditorRibbon.AddWebEditRibbon, Sitecore.ExperienceEditor.Speak.Ribbon']" type="Sitecore.Support.ExperienceEditor.Speak.Ribbon.Pipelines.GetExperienceEditorRibbon.OverrideWebEditRibbon, Sitecore.Support.155266" runIfAborted="true" />
      </getExperienceEditorRibbon>
    </pipelines>
  </sitecore>
</configuration>